@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.rightPadding {
    margin-right: 20px;
}
.leftPadding {
    margin-left: 20px;
}
