@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    height: 100%;
}

.content {
    padding-top: 60px;
    min-height: 100%;
    margin-bottom: 60px;
}

.container {
    height: 100%;
    overflow: auto;
    margin: 5px;
    padding-top: 80px;
    min-height: 200px;
    min-width: 200px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: rgb(41, 180, 255);
    background: var(--background-color);
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn-block {
    display: block;
    width: 98%;
}

.task {
    display: grid;
    align-items: center;
    background: var(--background-color);
    margin: 1%;
    padding: 10px 20px;
    cursor: pointer;
}

.task.reminder {
    border-left: 14px solid mediumaquamarine;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #152027d2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(231, 249, 255, 0.433);
    border-top: 3px solid rgba(81, 214, 255, 0.405);
}

.task p {
    display: flex;
    background: #c7ab9513;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding: 3px;
}
.add-form {
    margin-bottom: 40px;
}

.form-control {
    margin: auto;
    max-width: 40%;
}

.form-control label {
    display: block;
    max-width: 98%;
}

.form-control input {
    width: 98%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}
.form-control select {
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control-check label {
    flex: 1;
}

.form-control-check input {
    flex: 2;
    height: 20px;
}
.form-control-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-control-select label {
    flex: 1;
}

.form-control-select select {
    flex: 2;
    height: 40px;
}

footer {
    position: fixed;
    background-color: rgb(124, 124, 124);
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    height: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;

    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(11, 133, 170);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.rightPadding {
    margin-right: 20px;
}
.leftPadding {
    margin-left: 20px;
}
.icons:hover {
    color: deepskyblue;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

/* Dark Theme */
:root {
    --blue: rgb(62, 74, 87);
    --white: rgb(236, 236, 236);
    --gray: rgb(230, 227, 227);
    --gray2: rgb(241, 246, 247);
    --darkblue: rgb(26, 39, 48);
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    font-weight: var(--font-weight);
    transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.dark {
    --background-color: var(--blue);
    --text-color: var(--white);
    --font-weight: 500;
}

body.dark .header {
    --background-color: var(--darkblue);
    --text-color: var(--white);
}

.header {
    --background-color: var(--gray);
}

.task {
    --background-color: var(--gray2);
}

body.dark .task {
    --background-color: var(--darkblue);
}
h3 {
    text-align: center;
    color: rgb(252, 165, 36);
}
.task.draft {
    background: rgb(120, 153, 131);
}
.cardImg {
    max-width: 60px;
    clip-path: circle(30px at center);
    display: block;
    margin: auto;
}
